# CYD (ESP32-2432S028) default SDK-Konfiguration

# Ziel-SoC
CONFIG_IDF_TARGET="esp32"

# Flash-Größe 4 MB
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_ESPTOOLPY_FLASHSIZE="4MB"

# PSRAM nicht aktiviert (CYD hat keinen externen RAM)
CONFIG_ESP32_SPIRAM_SUPPORT=n

# Log-Level: Info
CONFIG_LOG_DEFAULT_LEVEL_INFO=y
CONFIG_LOG_DEFAULT_LEVEL=3

# FreeRTOS Tick-Rate 1000 Hz (1 ms)
CONFIG_FREERTOS_HZ=1000

# SPI-DMA-Puffer erlauben
CONFIG_SPI_MASTER_IN_IRAM=y
